body {
  font-family: Arial, sans-serif;
  background: #d9edff;
  margin: 0;
  padding: 0;
}



ul,
h4 {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

label {
  padding: 60px 40px;
  font-weight: 600;
}

input {
  margin: 10px 10px 0 30px;
  /* display: block; */
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
}

.link_retorno {
  text-decoration: none;
  margin-left: 20px;
  color: #000;
}

.detalhe_retorno {
  color: #a9a9a9;
  font-weight: 500;
}

.content {
  margin-left: 100px;
  margin-top: 10px;
  padding: 20px;
}

#filtro {
  margin-left: 200px;
  background-color: #fff;
  width: 830px;
  height: 211px;
  border: 4px #807d7d;
}

#filtro ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
#botao_filtro {
  width: 180px;
  height: 45px;
}
#botao_filtro_data {
  width: 100px;
  height: 35px;
}
.link_principal {
  cursor: pointer;
}
.link_principal ul li {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #a9a9a9;
  border-radius: 10px;
  width: 423px;
  height: 271px;
  margin-left: 200px;
}

.link_principal ul li img {
  width: 108px;
  height: 108px;
}

.link_principal ul li span {
  padding: 0px;
  color: #78b3ed;
  font-weight: 600;
  font-size: 36px;
}

.flex-elementos {
  display: flex;
  margin-left: 40px;
  margin-top: 25px;
  gap: 80px;
}

.flex-elementos2 {
  display: flex;
  gap: 50px;
  margin-left: 40px;
}
